<div class="message-preview" style="float: left; width: 25%; overflow: auto">
    <% var i; %>
    <% for(i = 1; i < 3; i ++) { %>
        <div style="background-color: lightblue;"><a href="/message-chat">item<%= i %></a></div>
    <% } %>
    
</div>